<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>mn.frd.alfred-ldap</string>
    <key>category</key>
    <string>Uncategorised</string>
    <key>connections</key>
    <dict>
      <key>04041E29-2C9F-44E0-9558-A5BCCB550482</key>
      <array/>
    </dict>
    <key>createdby</key>
    <string>Jonas Friedmann</string>
    <key>description</key>
    <string>Lookup names and telephone numbers within an LDAP (AD) directory</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>LDAP Contact Search</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <false/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>ldap</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node index.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string>index.js</string>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string>LDAP Contact Lookup</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>04041E29-2C9F-44E0-9558-A5BCCB550482</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>04041E29-2C9F-44E0-9558-A5BCCB550482</key>
      <dict>
        <key>xpos</key>
        <integer>10</integer>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
    </dict>
    <key>version</key>
    <string>0.2.0</string>
    <key>webaddress</key>
    <string>https://github.com/frdmn/alfred-ldap#readme</string>
  </dict>
</plist>